
.canle {    
    text-align: center;
    margin-top: 50px;
    border: 8px solid #D5B0AC;
    color: #402E2A;
    background-color: #D5B0AC;
}

.canle:hover {
    background-color: #9CD08F;
    border-color: #9CD08F;
    color: #ffffff;
}

.menu {
    vertical-align: baseline;
    display: block;

}